body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
}

.app-container {
  display: flex;
  height: 100vh;
}

.media-card1 {
  background: url(https://i.pinimg.com/videos/thumbnails/originals/67/3b/23/673b230a70bf4bd0ed9d7d8ac661646a.0000000.jpg) center/cover;
  height: 970px;
  width: 100%;
  

}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #eba40b;
  color: #000000;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #1f1e1e;
  color: #fff;
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

h1 {
  color: #000000;
}
